@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    max-width: 1440px;
    /* border: 2px solid gold; */
    margin: 0 auto;
    min-height: 800px;
    background-color: black;
}

/* nav bar css start here */
.nav-main {
    max-width: 1440px;
    /* border: 2px solid red; */
    margin: 0 auto;
    background: black linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);

}

.nav-content {
    width: 1060px;
    /* border: 2px solid green; */
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);

}

.nav-btn {
    width: 465px;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}

.nav-btn ul {
    display: flex;
    gap: 47px;
}

.nav-btn li {
    list-style: none;
    align-content: center;

}

.nav-btn a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 400;

}

.special-btn {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 18px 20px;
}

.nav-menu {
    color: white;
    display: none;
    padding: 20px;
    font-size: 1.5rem;
}

/* Nav-bar css ends here */

/* banner section starts here */
.banner-main {
    max-width: 1440px;
    /* border: 2px solid red; */
    height: auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.banner-content {
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.banner-texts {
    width: 45%;
    /* border: 2px solid rgb(95, 255, 71); */
    align-content: center;
}

.banner-title {
    font-size: 4.875rem;
    font-weight: 900;
    color: white;
    margin-bottom: 5px;
}

.banner-disciptions {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 25px;
    word-spacing: normal;
}

.banner-btns {
    display: flex;
    justify-content: space-between;
}

.banner-btn-1 {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.banner-btn-2 {
    width: 224px;
    height: 54px;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;

}

.banner-image {
    width: 45%;
    /* border: 2px solid pink; */
    position: relative;
}

.floating-icon-1 {
    position: absolute;
    width: 190px;
    height: 100px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    align-content: center;
    left: 207px;
    top: 100px;
}

.fi-1-title {
    font-size: 2.5rem;
    font-weight: 900;
}

.fi-1-sub-title {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}
.play-2{
    display: none;
}

.floating-icon-2 {
    position: absolute;
    display: flex;
    width: 200px;
    height: 100px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    bottom: 50px;
    left: -40px;
}

.fi-2-title {
    font-size: 1.5rem;
    font-weight: 900;
}

.fi-2-sub-title {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

/* banner sections ends here */